/* TODO: Check gradient for Headlines */

:root {
    --color-primary: #6E26FF;
    --color-secondary: #e35efa;
    --color-accent: #38F8B6;
    --color-heading: #fff;
    --color-body:#949597;
    --color-body-darker: #525458;
    --color-background: #06070B;
    --color-background-lighter: #14161d;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--color-background-lighter);
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
}

::selection {
    background: var(--color-primary);
    color: #fff;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

h1, h2, h3 {
    color: var(--color-heading);
    margin-bottom: 2rem;
    line-height: 1.1;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

/* Desktop View */

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* Links */

a {
    text-decoration: none;
}


.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after {
    content: '=>';
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
    .link-arrow{
        font-size: 1.5rem;
    }
}

/* Badges */

.badge {
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}

.badge--primary {
    background: var(--color-primary);
    color: #fff;
}

.badge--secondary {
    background: var(--color-secondary);
    color: #fff;
}

.badge--small {
    font-size: 1.6rem;
    margin: 1.5rem 2rem;
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.5rem;
    }

    .badge--small {
        font-size: 1.2rem;
    }
}

/* Lists */

.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-heading);
    font-size: 2rem;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url(../images/tick.svg);
    padding-left: 3rem;
}

.list--tick .list__item {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item {
        padding-left: 0.2rem;
    }
}

/* ICONS */

.icon {
    width: 40px;
    height: 40px;
}

.icon--primary {
    fill: var(--color-primary);
}

.icon--white {
    fill: #fff;
}

.icon-container {
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Buttons */

.btn {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.btn--primary {
    background: var(--color-primary);
    color: #fff;
}

.btn--primary:hover {
    background: #874cfb;
}

.btn--secondary {
    background: var(--color-secondary);
    color: #fff;
}

.btn--secondary:hover {
background: #eb88ff;
}

.btn--accent {
    background: var(--color-accent);
    color: #fff;
}

.btn--accent:hover {
    background: #86ffd5;
}

.btn--block {
    width: 100%;
    display: inline-block;
}

.btn--stretched {
    padding-left: 6rem;
    padding-right: 6rem;
}

.btn--outline {
    background: #06070B;
    color: var(--color-heading);
    border: 2px solid var(--color-heading)
}

.btn--outline:hover {
    background: var(--color-heading);
    color: var(--color-body);
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}

/* Input */

.inputs {
    background: #06070B;
    border-radius: 30px;
    border: 1px solid #ccc;
    color: var(--color-heading);
    font-size: 2rem;
    outline: 0;
    padding: 1.5rem 3.5rem;
}

::placeholder {
color:#86ffd5;
}

.input-group {
    border: 1px solid #ccc;
    border-radius: 30px;
    display: flex;
}

.input-group .inputs {
    border: 0;
    flex-grow: 1;
    padding: 1.5rem 1rem;
}

.input-group .btn {
    margin: 4px;
}

@media screen and (min-width: 1024px) {
    .inputs {
        font-size: 1.5rem;
    }
}

/* Cards */

.card {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #505050;
    overflow: hidden;
    transition: transform 0.5s ease-out;
}

.card__header, .card__body {
    padding: 2rem 3rem;
}

.card--primary .card__header {
    background: var(--color-primary);
    color: #fff;
}

.card--secondary .card__header {
    background: var(--color-secondary);
    color: #fff;
    }

.block--cards .grid {
    gap: 8rem 2rem;
}

.block--cards .card {
    max-width: 500px;
    margin: 0;
}

.card:hover {
    transform: scale(1.1);
}

/* Card Groups */

.card__header {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.cg__name {
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
    color: #fff;
}

.cg__desc {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff;
    margin-top: 0.5rem;
}

.cg_ava {
    border-radius: 50%; 
    object-fit: cover; 
    width: 100%; 
    max-width: 70px;
    margin-left: 1rem; 
}

/* Media */

.media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    flex-wrap: wrap;
    padding: 1rem;
}

.media__spotify {
    flex-grow: 1; 
    max-width: 100%; 
    min-width: 300px; 
}

.media-info {
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    justify-self: center;
    max-width: 100%; 
    min-width: 300px; 
}

.media__body {
    margin: 0 2rem;
}

.media__image {
    margin-top: 1rem;
    align-self: center; 
}

.media__title {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* QUOTE */

.quote {
    font-size: 3rem;
    font-style: italic;
    color: var(--color-body-darker);
    line-height: 1.3;
}

.quote__text::before {
    content: open-quote;
}

.quote__text::after {
    content: close-quote;
}

.quote__name {
    margin-bottom: 0.1rem;
}

.quote__position {
    font-size: 1.3rem;
    opacity: 50%;
    color: var(--color-secondary)
}

/* GRID */

.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: 1fr 1fr;
    }

    .grid--1x3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* ABOUT ME */

.aboutme {
    padding: 3rem;
}

.image--responsive {
    width: 100%;
    object-fit: cover;
    margin-left: 10rem;
}

#dain {
 height: 90%;
 width: 50%;
 border-radius: 50px;
}

/* CALLOUT */

.callout {
    padding: 4rem;
    border-radius: 5px;
}

.callout--primary {
    background: var(--color-primary);
    color: #fff;
}

.callout__heading {
    color: #fff;
    margin-top: 0;
    font-size: 3rem;
}

.callout .btn {
justify-self: center;
align-self: center;
}

.callout__content {
    text-align: center;
}

@media screen and (min-width: 786px) {
    .callout .grid--1x2 {
        grid-template-columns: 1fr auto;
    }
    
    .callout__content {
        text-align: left;
    }

    .callout .btn {
        justify-self: start;
        margin: 0 2rem;
    }
}

/* COLLAPS */

.collapsible__header {
    display: flex;
    justify-content: space-between;
}

.collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
}

.collapsible__arrow {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__arrow {
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}

/* BLOCKS */

.block {
    --padding-vertical: 6rem;
    padding: var(--padding-vertical) 2rem;
}

.block__header {
    text-align: center;
}

.block__heading {
    margin-top: 0;
}

.block--primary {
background: var(--color-background);
}

.block--secondary {
    background: var(--color-background-lighter);
}

.block--hero {
    /*background-image: url(../images/dainSynth.png);*/
    background: #000;
    background-size: cover;
}

.block--skewed-left {
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
    padding-bottom: calc(var(--padding-vertical) +4rem);
    min-height: 800px;
}

/* NAV */ 

.nav {
    background: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
    align-items: center;
}

.nav__list {
    width: 100%;
    margin: 0;
}

.nav__item {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #222;
}

.nav__item > a {
    color: #fff;
    transition: color 0.3s;
}

.nav__item > a:hover {
    color: #fab8b8;
}

.nav__toggle {
    opacity: 0.5;
    transition: box-shadow 0.5s;
    cursor: pointer;
}

.nav.collapsible--expanded .nav__toggle {
    opacity: 1;
    box-shadow: 0 0 0 3px #fff;
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .nav__toggle {
        display: none;
    }

    .nav__list {
        width: auto;
        display: flex;
        font-size: 1.6rem;
        max-height: 100%;
        opacity: 1;
    }

    .nav__item {
        border: 0;
    }
}

/* HERO */

.hero__link {
    margin-bottom: 5rem;
    color:#06070B
}

.hero__desc {
    margin-bottom: 5rem;
}

.hero__content {
    margin-top: 50px;
}

.hero_img {
    display: none;
}


@media screen and (min-width: 1028px) {
    .hero {
        padding-top: 0;
        overflow: hidden;
    }
    
    .hero__content {
        text-align: left;
        align-self: center;
    }

    .hero_img {
        display: inline-block;
        
    }
}

/* Showcase */

.showcase__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 5rem auto;
    max-width: 700px;
}

.showcase__block .badge--primary {
    box-shadow: 0 0 10px 5px var(--color-primary);
    border: 0;
}

.showcase__block .badge--secondary {
    box-shadow: 0 0 10px 5px var(--color-secondary);
    border: 0;
}

.showcase__block .badge {
    margin: 3rem 3rem;
}

.showcase--article {
    margin-bottom: 5rem;
}

/* DL Section */

.download {
    justify-items: center;
}

.block-download__header {
    margin-bottom: 6rem;
}

.download__image {
    width: 100%;
    max-width: 300px;
}

/* FOOTER */

.footer {
    background: #232323;
}

.footer a {
    color: #777;
    transition: color 0.3s;
}

.footer a:hover {
    color: #fff;
}

.footer__section {
    padding: 2rem;
    border-bottom: 1px solid #393939;
}

.footer__section .list {
    margin: 0;
}

.footer__heading {
    text-transform: uppercase;
    font-weight: 600;
}

.footer__brand {
    text-align: center;
}

.footer__brand img {
    width: 100%;
    max-width: 50px;
}

.footer__img {
    width: 50px;
    margin-top: 3rem;
}

.footer__copyright {
    font-size: 2.1rem;
    color: var(--color-secondary);
    opacity: 0.5;
}

@media screen and (min-width: 768px) {
    .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }

    .footer .collapsible__arrow {
        display: none;
    }

    .footer .collapsible__content {
        opacity: 1;
        max-height: 100%;
    }

    .footer__brand {
        order: -1;
    }

    .footer__copyright {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    .footer__section {
        border-bottom: 0;
    }

    .footer__heading {
        font-size: 1.6rem;
    }
}