<section class="block block--secondary container">
  <header class="block__header">
    <h2>Showcase</h2>
    <p>All the projects as an overview!</p>
  </header>
  <ul class="list showcase__block">
    <li class="badge badge--primary">Synthwave</li>
    <li class="badge badge--secondary">LoFi</li>
    <li class="badge badge--primary">EDM</li>
    <li class="badge badge--secondary">Game Music</li>
    <li class="badge badge--primary">Bass House</li>
    <li class="badge badge--secondary">Funky House</li>
  </ul>
</section>
<section class="block container block--cards">
  <div class="grid grid--1x3">
    <div class="cg">
      <div class="card card--primary">
        <header class="card__header">
          <div class="cg__info">
            <!-- Grouped left content -->
            <h3 class="cg__name">90 Miles</h3>
            <span class="cg__desc">Duo Project</span>
            <span class="badge badge--secondary badge--small">Funk / EDM</span>
          </div>
          <img src="images/dain_herz.png" alt="Test" class="cg_ava" />
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Item 1</li>
            <li class="list__item">Item 2</li>
            <li class="list__item">Item 3</li>
          </ul>
          <button class="btn btn--outline btn--block">Spotify</button>
        </div>
      </div>
    </div>
    <div class="cg">
      <div class="card card--secondary">
        <header class="card__header">
          <div class="cg__info">
            <!-- Grouped left content -->
            <h3 class="cg__name">90 Miles</h3>
            <span class="cg__desc">Duo Project</span>
            <span class="badge badge--primary badge--small">Funk / EDM</span>
          </div>
          <img src="images/dain_herz.png" alt="Test" class="cg_ava" />
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Item 1</li>
            <li class="list__item">Item 2</li>
            <li class="list__item">Item 3</li>
          </ul>
          <button class="btn btn--outline btn--block">Spotify</button>
        </div>
      </div>
    </div>
    <div class="cg">
      <div class="card card--primary">
        <header class="card__header">
          <div class="cg__info">
            <!-- Grouped left content -->
            <h3 class="cg__name">90 Miles</h3>
            <span class="cg__desc">Duo Project</span>
            <span class="badge badge--secondary badge--small">Funk / EDM</span>
          </div>
          <img src="images/dain_herz.png" alt="Test" class="cg_ava" />
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Item 1</li>
            <li class="list__item">Item 2</li>
            <li class="list__item">Item 3</li>
          </ul>
          <button class="btn btn--outline btn--block">Spotify</button>
        </div>
      </div>
    </div>
  </div>
</section>
