<section class="block block--primary block--skewed-left">
  <header class="block__header block-download__header">
    <h2>DOWNLOAD AND SOCIALS</h2>
  </header>
  <div class="container grid grid--1x2 download">
    <img class="download__image" src="images/DL.png" alt="Download Icon" />
    <p class="download__p">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus culpa
      nesciunt dolorum alias labore reprehenderit maxime aspernatur est
      cupiditate. Excepturi!<br />
      <a href="#" class="link-arrow">BandCamp</a>
      <a href="#" class="link-arrow">KoFi</a>
    </p>
  </div>
</section>
