<footer class="block block--primary footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Legal</h2>
        <svg class="icon icon--white collapsible__arrow">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Impressum</a></li>
          <li><a href="#">Contact / Mail</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Socials</h2>
        <svg class="icon icon--white collapsible__arrow">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Twitch</a></li>
          <li><a href="#">Bluesky</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">YouTube</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Downloads</h2>
        <svg class="icon icon--white collapsible__arrow">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">KoFi</a></li>
          <li><a href="#">Bandcamp</a></li>
          <li><a href="#">Amazon</a></li>
          <li><a href="#">Apple Music</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img class="footer__img" src="images/waiting_dain.png" alt="" />
      <p class="footer__copyright">Made with &#60;3 by dain.</p>
    </section>
  </div>
</footer>
