<section class="block block--hero block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="hero__headline">dain.</h1>
      <p class="hero__desc">Music - Sound Design</p>
      <a
        href="https://open.spotify.com/artist/0WGxgRurCUtZPILs08KznX?si=W8w-cz4wTnOdY6GqOBkdGQ"
        class="btn btn--accent btn--stretched hero__link"
        target="_blank"
        >Spotify</a
      >
    </header>
    <img class="hero_img" src="images/dainSynth.png" alt="" />
  </div>
</section>
