<div class="card card--primary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
      voluptatem est esse nihil quod corporis laboriosam recusandae!
      Expedita officia at doloremque mollitia minima delectus aliquam amet
      temporibus odio soluta? Iure explicabo, beatae nisi harum sunt
      suscipit numquam consequatur, id minus expedita alias, autem eveniet
      aut facilis sed aliquid dolores sapiente labore rerum? Architecto
      numquam culpa, expedita assumenda sit ipsum, consectetur doloribus
      quam animi rem molestias eaque repellendus dolorum iure obcaecati a
      neque dicta placeat ab nihil nam perferendis adipisci. Error, eum
      aperiam quas repudiandae doloremque provident earum. Fugit inventore
      odit pariatur placeat consectetur repellendus, totam, cum natus
      excepturi corporis dignissimos?
    </div>
  </div>
</div>
<div style="width: 30%; padding: 3rem 3rem">
  <div class="card card--secondary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
      voluptatem est esse nihil quod corporis laboriosam recusandae!
      Expedita officia at doloremque mollitia minima delectus aliquam amet
      temporibus odio soluta? Iure explicabo, beatae nisi harum sunt
      suscipit numquam consequatur, id minus expedita alias, autem eveniet
      aut facilis sed aliquid dolores sapiente labore rerum? Architecto
      numquam culpa, expedita assumenda sit ipsum, consectetur doloribus
      quam animi rem molestias eaque repellendus dolorum iure obcaecati a
      neque dicta placeat ab nihil nam perferendis adipisci. Error, eum
      aperiam quas repudiandae doloremque provident earum. Fugit inventore
      odit pariatur placeat consectetur repellendus, totam, cum natus
      excepturi corporis dignissimos?
    </div>
  </div>

  <!-- CARD GROUPS -->

  <div class="cg">
    <div class="card card--primary">
      <header class="card__header">
        <div class="cg__info">
          <!-- Grouped left content -->
          <h3 class="cg__name">90 Miles</h3>
          <span class="cg__desc">Duo Project</span>
          <span class="badge badge--secondary badge--small"
            >Funk / EDM</span
          >
        </div>
        <img src="images/dain_herz.png" alt="Test" class="cg_ava" />
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__item">Item 1</li>
          <li class="list__item">Item 2</li>
          <li class="list__item">Item 3</li>
        </ul>
        <button class="btn btn--outline btn--block">Spotify</button>
      </div>
    </div>
  </div>