<div class="media">
  <div class="media__spotify">
    <iframe
      style="border-radius: 12px"
      src="https://open.spotify.com/embed/artist/0WGxgRurCUtZPILs08KznX?utm_source=generator&theme=0"
      width="100%"
      height="352"
      frameborder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
      class="media__player"
    ></iframe>
  </div>
  <div class="media-info">
    <div class="media__image">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#wordpress"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title">dain.</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta aut
        expedita perferendis vel perspiciatis, dolorum quidem neque alias
        necessitatibus, totam iste provident officiis nisi voluptate?
      </p>
    </div>
  </div>
</div>
